body {
  background-color: lightgray;
}

#logo {
  width: 10%;
}

.box-nav {
  display: flex;
  background-color: #47b8d6;
  flex-flow: row;
  justify-content: center;
  height: 40px;
}

.caja-nav {
  border: 1px solid #0000;
  font-family: "Poppins", sans-serif;
  height: 38xp;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin: auto 20px auto;
}

nav div a:hover {
  background-color: white;
  color: #47b8d6;
}

.sin-subrayado {
  text-decoration: none;
  color: white;
}

#imagen-oferta-1 {
  width: 100%;
}

#imagen-oferta-2 {
  width: 100%;
  margin-top: 2%;
}

#box-bancos {
  background-color: lightcoral;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 40px;
  text-align: center;
  margin: 30px;
}

.box-promo-banc {
  display: flex;
  justify-content: space-evenly;
}
.titulares {
  font-family: "Montserrat", sans-serif;
  color: #ffff;
  font-weight: bold;
}

.img-ban {
  width: 200px;
  border-radius: 15px;
  margin: 20px;
}

#box-categorias {
  background-color: grey;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 40px;
  text-align: center;
  margin: 30px;
}

#box-cat-img {
  display: flex;
  justify-content: space-evenly;
}

.img-cat {
  width: 200px;
  border-radius: 15px;
  margin: 20px;
}


@media screen and (max-width: 767px) {
  .box-nav {
    flex-flow: column;
    height: auto;
  }
  .img-ban {
    width: auto;
    flex-flow: column;
    
  }
  .box-promo-banc {
    justify-content: column;
    width: auto;
    flex-flow: column;
  }
  #box-cat-img{
    justify-content: column;
    width: auto;
    flex-flow: column;
  }
  .img-cat {
    width: auto;
    flex-flow: column;
  }
  
}